/*HERO section*/

img{
  display: block;
  max-width: 100%;
  height:auto ;
}


.section-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.section-hero {
  background: #2f303a;
  text-align: center;
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/back.jpg);
}
.section-hero-but {
  background-color: #2196f3;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

/*HIDDEN*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.features-container {
  display: flex;
  align-self: start;
  
  
}

.features-mini:not(:last-child){
  margin-right: 30px;
}

/*возможности*/
.capabilities-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*род занятий*/
.occupation-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.occupation-section {
  padding-bottom: 94px;
}

.occupation-image {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.list-image {
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
/*команда*/
.section-comand {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.comand-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.text-acent-mail {
  color: var(--text-acent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  
}

.text-acent-mail:focus,
.text-acent-mail:hover {
  color: var(--text-hover-color);
}
.comand-title {
  margin-bottom: 50px;
}

.one-team {
  
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.one-team-image {
  
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-man {
  padding: 30px 32px;
}
